.header {
  width: 100%;
  height: 6rem;
  background-color: var(--amarillo);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  position: relative; /* Añadido para contener el menú lateral */
}

.contenedor_menu {
  width: 30rem;
  height: 4rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.menu_lateral {
  width: 20rem;
  height: calc(100vh - 6rem); /* Altura desde el header hasta abajo */
  background-color: var(--rojo-sangre);
  position: absolute;
  left: 0;
  top: 6rem; /* Para que empiece debajo del header */
  transition: transform 0.3s ease; /* Para animación suave */
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
  opacity: 0.8;
  border-radius: 1rem;
}

.menu_lateral button {
  width: 18rem;
  height: 3rem;
  border-radius: 1rem;

  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: rgb(36, 33, 33);
  background-color: var(--amarillo);
}

.menu_lateral button:hover {
  background-color: var(--beige);
}

.menu_lateral.hidden {
  transform: translateX(-100%); /* Oculta el menú moviéndolo a la izquierda */
}

.btn_menu {
  width: 4rem;
  height: 4rem;
  position: relative;
  cursor: pointer;
  border: none;
  font-size: 1.5rem;
  border-radius: 1rem;

  font-weight: 900;
  font-size: 20px;
}

.btn_menu:hover {
  background-color: var(--beige);
}

.logo {
  width: 30rem;
  height: 2rem;
  border-radius: 1rem;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logos_icon {
  width: 34rem;
  height: 4rem;
  display: flex;
  justify-self: end;
  justify-content: start;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.logo_icon1,
.logo_icon2,
.logo_icon3 {
  width: 4rem;
  height: 4rem;
  background-color: var(--beige);
  border-radius: 3rem;
}

.logo_icon1 img,
.logo_icon2 img,
.logo_icon3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn_menu_icon {
  width: 10rem;
  height: 4rem;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 1rem;

  font-weight: 900;
  font-size: 20px;
  background-color: var();
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}
